* {
    font-family: Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
   text-decoration: none; 
}  

#root {
    width: 100%;
}

#root .appTitle {
    font-size: 1.5em;
    color: #fff;
    background-color: rgb(33, 37, 44);
    padding: .8rem 2rem;
}

form {
    padding: .5rem 2rem;
    background-color: rgb(33, 37, 44);

}

.input {
    width: 100%;
    color: #707070;
    padding: .5rem;
    border-radius: 3px;
    border: none;
    outline: none;
    font-size: .8rem;
}

.grid {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #acacacd7;
    box-shadow: 0 0 3px 3px #f6f6f6ad;
    border-radius: 5px;
}

.grid h2 {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff;
    padding: 1rem;
    letter-spacing: 1px;

}

.grid-item {
    width: 300px;
    height: 220px;
    overflow: hidden;
    margin: .5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
    border-radius: 5px;
    background-color: #202020;
    box-sizing: border-box;
    transition: all .2s ease;
}

.grid-item img {
    width: 100%;
    height: 85%;
}

.grid-item h3 {
    width: 100%;
    height: 15%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: .8rem;
}

.grid-item:hover {
    background-color: #fff;
    color: #202020;
    transform: scale(1.05);
}

.grid-item:hover h3 {
    color: #202020;
}
